body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #eceef1;
  font-family: "Urbanist", sans-serif;
}

a {
  color: #0077c5;
  text-decoration: none;
}

/* Form */
form {
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  padding: 30px;
  width: 380px;
  background-color: white;
  font-size: 14px;
}

#form-title {
  font-size: 24px;
  text-align: center;
}

#top-text {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #393a3d;
  text-align: center;
  font-weight: 100;
}

label {
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}

input {
  display: block;
  height: 34px;
  border: 1px solid #c1c5c8;
  padding: 0 6px 0 8px;
  font-size: 16px;
  width: 100%;
  min-width: 160px;
  border-radius: 3px;
  line-height: 1.3em;
}

input:focus-visible,
input:active {
  outline: none !important;
  border: 1px solid #52a8ec;
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset, 0 0 8px rgb(82 168 236 / 60%);
}

input:focus,
input:focus-visible {
  outline: none;
}

input::placeholder {
  color: #d3d4d7;
}

/* Footer */

footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 20px 20px 20px 20px;
  font-size: 14px;
}
